.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 35px;
}

.turn-highlight {
    color: white;
}
